body {
  background-color: yellow;
}

.container {
    width: 50%;
    margin:50px auto;

}
button {
  height: 60px;
  margin:20px;
  width: 150px;
  color: white;
  background-color: rgb(53, 149, 218);
  border-radius: 15px;
  font-size: larger;
  word-spacing: 10px;
}
